<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portifólio</title>
   <link rel="stylesheet" href="../static/css/style.css">
   <!--Link para acessar os icones do site font-awesome-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

   <nav>
      <ul>
         <li><a href="#inicio">Inicio</a></li>
         <li><a href="#sobre-mim">Sobre mim</a></li>
         <li><a href="#projetos">Projetos</a></li>
         <li><a href="#habilidades">Habilidades</a></li>
         <li><a href="#contato">Contato</a></li>
         <li><a href="#localização">Localização</a></li>
      </ul>
   </nav>

   <header id="inicio">

      <div>
         <p> "Um amor, uma carreira, uma revolução: outras tantas coisas que se começam sem saber como acabarão." </p>
         <span>Jean Paul Sartre</span>
      </div>

      <div id="img-rocket">
         <img src="../static/img/stars.png" alt="ilustração de um homem subindo uma escada que vai até as estrelas" />
      </div>

   </header>

   <section id="sobre-mim">

      <div id="minha-foto">
         <img src="../static/img/euzinho.png" width="100%" alt="Foto: Carlos Wesley">
      </div>

      <div>
         <p id=p1>
            Olá, sou Carlos Wesley, psicólogo (06/150659) pela Universidade Anhembi Morumbi. Especialista em Clínica
            Hospitalar pela Faculdade de Medicina da USP.

            Durante minha trajetória acadêmica integrei pesquisas em diversas áreas e em diversos formatos. Fiz parte da
            Clínica de Direitos Humanos Luiz Gama, da Faculdade de Direito da USP; onde participei de uma pesquisa sobre
            a maternidade de mulheres em situação de rua. Também integrei o grupo de estudos em Direitos Sexuais e
            Reprodutivos de Jovens, na Faculdade de Saúde Pública da USP. Essa pesquisa tinha o objetivo de identificar
            estratégias eficazes de promoção de saúde sexual nessa faixa etária. Além desta, integrei outras duas
            pesquisas sobre saúde sexual, uma sobre a a história das campanhas de prevenção do Ministério da Saúde e uma
            revisão bibliográfica sobre os protocolos de rastreamento e detecção de neoplasias anais.</p>

         <P>A partir desse contato com a pesquisa científica, iniciei meus estudos em programação, com o objetvivo de
            trabalhar com volumes maiores de dados que permitissem novos insights no campo da saúde pública brasileira.
         </p>
      </div>

   </section>

   <section id="projetos">

      <div id="projeto-1">
         <img src="../static/img/poiesis.PNG" alt="Site: Espaço Poiesis">
         <h2 id="p1"><a>Espaço Poiesis </a></h2>
         <p>Espaço Poiesis, é o site do consultório de psicologia e arteterapia localizado em Pinheiros, na Zona Oeste
            de - SP. O site foi inteiramente produzido com Wordpress, possuindo extensa personalização e adaptabilidade,
            sem a necessidade do uso de códigos e linguagem de programação. O site possui diversas páginas, que podem
            ser acessadas diretamente da página incial, garantindo a disponibilidade das informações essenciais.</p>
         <button onClick="javascript:window.location.href='https://espacopoiesis.com/'"> Veja mais </button>
      
      </div>

      <div id="projeto-2">
         <img src="../static/img/gret.PNG" alt="printscreen da página " humor Gretchen">
         <h2>Jogo do Humor - Gretchen</h2>
         <p>Página interativa em que os usuários podem selecionar aleatóriamente um "humor" baseado nos memes da cantora
            Gretchen. O jogo utiliza linguagem dinâmica e dialoga diretamente com a cultura da internet e seus jargões.
         </p>
         <button>Veja mais</button>
      </div>

      <div id="projeto-3">
         <img src="../static/img/Nibiru.jpg" alt="Capa do jogo: Nibiru">
         <h2>Nibiru: Uma Corrida pela Vida</h2>
         <p>Jogo de ficção interativa baseado no livro: Seriam Os Deuses Astronautas do escritor suiço Erich von
            Däniken. O jogo de terminal, utiliza a interação do usuário para realizar as tarefas e os desafios
            propostos. Sua codificação foi realizada em Python, utilizando o paradigma de Programação Orientada à
            Objetos (POO). O projeto recebeu certificação de Aluno Destaque, por parte da instituição Blue Ed-Tech</p>
         <button>Veja mais</button>
      </div>

      <div id="projeto-4">
         <div id=img>
            <img src="../static/img/voting.png"
               alt="Ilustração de uma cédula de votação sendo introduzido em um computador">
         </div>
         <div id=txtbtn>
            <h2>Projeto: Sistema de Votação</h2>
            <p>Projeto de sistema de votação, programado em Python com o uso de funções para automação do processo. O
               projeto recebeu certificação de Aluno Destaque, por parte da instituição Blue Ed-Tech. </p>
            <button>Veja mais</button>
         </div>
      </div>

   </section>

   <section id="habilidades">
      <h2>Habilidades Técnicas</h2>

      <p>HTML 5</p>
      <div>
         <span id="html">70%</span>
      </div>

      <p>Wordpress</p>
      <div>
         <span id="wordpress">70%</span>
      </div>

      <p>Python</p>
      <div>
         <span id="python">50%</span>
      </div>

      <p>CSS 3</p>
      <div>
         <span id="css">30%</span>
      </div>

      </section>

      <section id=localização>
         <p> Onde você pode me localizar: </p>
         <span> Atualmente estou disponível presencialmente em São Paulo - SP, e online para trabalhos remotos! </span>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14635.37542310322!2d-46.42362697658856!3d-23.50213300539511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce638e7111c1d1%3A0x1bd3ccbf64d915ba!2sJardim%20dos%20Ipes%2C%20S%C3%A3o%20Paulo%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1627356598924!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>

   <section id="contato">

      <div id="form">

         <h3>Mande uma mensagem</h3>

         <form action='/send' method="POST">
            <label for="nome">Nome</label>
            <input type="text" placeholder="Digite seu nome" id="nome" name="nome" required>

            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu email" id="email" name="email" required>


            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Digite sua mensagem"></textarea required> 

            <button type="submit" id="enviar">Enviar</button>

         </form>
         </div>

         <div id="redes">
            <h3>Se conecte comigo</h3>

            <div id="icons">
               <a href="https://www.linkedin.com/in/carlos1500/" target="_blank">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </a>

               <a href="https://github.com/carlos1500" target="_blank">
                  <i class="fa fa-github" aria-hidden="true"></i>
               </a>

               <a href="https://www.instagram.com/espacopoiesis/" target="_blank">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
               </a>

               <a href="https://api.whatsapp.com/send/?phone=5511964363634&text&app_absent=0" target="_blank">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
               </a>
            </div>

         </div>

   </section>

   <footer>
      <p>@cbernardox</p>

   </footer>
   <script src="../static/js/script.js"></script>

</body>

</html>